// Variables
$primary-color: #e77e23;
$secondary-color: #f8d8bd;
$text-color: #333;
$text-light: #969695;
$background-light: #f8f9fa;
$white: #ffffff;
$border-color: #e4e4e2;
$border-color-light: #f8f8f6;
$disabled-color: #e3e3e3;
$disabled-text: #919191;
$dark-orange: #c16514;