@use "variables" as *;
@use "mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// Base styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: $text-color;
  position: relative;
  background-color: #f8f8f6;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  font-family: "Open Sans", sans-serif;
}